.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  margin: 60px auto;
}
.container > .parent > .row {
  border-radius: 3%;
  display: flex;
  height: 320px;
  margin: 10px 0;
}
.container > .parent > .row > .left_div {
  display: flex;
  justify-content: center;
  flex: 0.5;
}
.container > .parent > .row > .left_div > img {
  margin: auto;
  width: 250px;
  height: 300px;
  object-fit: fill;
}
.container > .parent > .row > .right_div {
  padding: 5px;
  flex: 0.5;
}
.container > .parent > .row > .right_div > h1 {
  margin-top: 15px;
}
.container > .parent > .row > .right_div > h2 {
  margin-top: 15px;
  color: black;
}
.manageQty {
  background-color: white;
  border: none;
  margin-right: 5px;
  margin-top: 5px;
}
.manageQty > .manageQty_icon {
  font-size: 2rem;
}
.separator {
  width: 95%;
  height: 1px;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid rgba(128, 128, 128, 0.444);
}
.checkout {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin: 10px auto;
  font-size: 1rem;
}
.checkout > p {
  margin: auto;
}
.checkout > button {
  font-size: 0.85rem;
  width: 100px;
  margin: auto;
  border-radius: 10%;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.checkout > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
