.start {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.text {
  display: flex;
}
.center {
  position: absolute;
  z-index: 5;
  /* width: 50%;
  height: 90%; */
  left: 12%;
  top: 220px;
  margin: auto;
}
@media only screen and (max-width: 620px) {
  .center {
    top: 215px;
    left: 5%;
  }
  .start {
    height: 250px;
  }
}
