.start {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.text {
  display: flex;
}
.center {
  position: relative;
  z-index: 5;
  /* width: 50%;
  height: 90%; */
  margin: auto;
  margin-left: 11%;
  margin-top: 200px;
}
@media only screen and (max-width: 620px) {
  .center {
    margin-left: 6%;
    margin-top: 150px;
  }
  .start {
    height: 250px;
  }
}
