* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.alert {
  position: fixed;
  margin: auto;
  display: block;
  top: 20%;
  left: 45%;
}
.container_products {
  display: flex;
  flex-direction: column;
}
.heading {
  margin: auto;
  padding: 70px;
  display: flex;
  flex-direction: column;
}
.heading > .item {
  margin: auto;
  font-size: 3.5rem;
}
.heading > hr {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #ccd1d5;
}
.container_products > .row {
  margin: auto;
  justify-content: center;
  width: 90%;
  display: flex;
}
.buttons_filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.buttons_filter > button {
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
}
.buttons_filter > button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-width: 225px;
  background-color: #ccd1d5;
  border-radius: 10px;
  transition: all 0.3s;
}

.card > img {
  width: 225px;
  max-height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card_title {
  padding: 10px;
  font-size: 1.125rem;
}
.card_body {
  height: 100%;
  text-align: center;
  background-image: linear-gradient(-180deg, #fff 0%, #ccd1d5 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: scroll;
}
.card_body > button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.card_price {
  padding: 5px;
}
.card_buy {
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  text-decoration: none;
  margin-bottom: 10px;
}
.card_buy_navlink {
  text-decoration: none;
  color: black;
}
.card_buy:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.small_size {
  display: none;
}
@media only screen and (max-width: 820px) {
  .card {
    flex-direction: row;
    max-width: 500px;
    min-width: 500px;
  }
  .card > img {
    width: 180px;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    object-fit: fill;
  }
  .card_body {
    width: 100%;
    background-image: linear-gradient(90deg, #fff 0%, #ccd1d5e8 100%);
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }
}
@media only screen and (max-width: 640px) {
  .heading > .item {
    font-size: 3rem;
  }
  .heading {
    padding: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .card {
    max-width: 400px;
    min-width: 400px;
  }
  .card_title {
    font-size: 1.05rem;
  }
  .card > img {
    max-height: 270px;
  }
}
@media only screen and (max-width: 420px) {
  .card {
    max-width: 300px;
    min-width: 300px;
  }
  .card_title {
    font-size: 1.05rem;
  }
  .card > img {
    display: none;
  }
  .card > .card_body {
    display: none;
  }
  .small_size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0 0;
  }
  .small_size > .card_title {
    text-align: center;
    background-image: linear-gradient(0deg, #fff 0%, #ccd1d5e8 100%);
    border-radius: 10px 10px 0 0;
  }
  .small_size_content > img {
    width: 150px;
    height: 150px;
    flex: 0.5;
  }
  .small_size_content {
    display: flex;
  }
  .small_size_card_body {
    flex: 0.5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }
  .small_size_card_body > .card_price {
    margin: 0 auto;
  }
  .small_size_card_body > .card_buy_navlink {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  .heading > .item {
    font-size: 2rem;
  }
  .buttons_filter > button {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 330px) {
  .heading {
    padding: 20px 0;
  }
}
