* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.heading {
  margin: auto;
  padding: 70px;
  display: flex;
  flex-direction: column;
}
.heading > .item {
  font-size: 3.5rem;
}
.heading > hr {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border: 0.5px solid rgba(128, 128, 128, 0.815);
}
.row {
  margin: auto;
  justify-content: center;
  width: 90%;
  display: flex;
}
.item {
  margin: auto;
}
.buttons_filter {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.buttons_filter > button {
  font-size: 1rem;
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.buttons_filter > button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-width: 225px;
  background-color: rgba(0, 0, 0, 0.1);
}
.card > img {
  width: 225px;
  object-fit: contain;
}
.card_title {
  padding: 10px;
  font-size: 1.125rem;
}
.card_body {
  text-align: center;
}
.card_price {
  padding: 5px;
}
.card_buy {
  font-size: 1rem;
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.card_buy:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
